body {
  font-family: 'Raleway';
  background: url("../image/cherryblossom.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}



p {
  line-height: 1.75;
}


.text-faded {
  color: black;
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
  text-align: left;
  padding-left: 10px;

}

.max-height {
  height: 100px;
  padding-bottom: 50px;
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 50px;
  font-weight: 800;
  color: black;
  padding-left: 10px;

}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
  font-size: 70px;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
  height: 100px;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;

}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
  color: black;
  width: 1000px;
  padding-top: 25px;
  margin-left: 0;
}


#mainNav {
  background-color: rgb(245,207,213);
  font-family: 'Raleway';
  font-size: 60px;
  font-weight: lighter;

}

/* #mainNav .navbar-brand {
  color: #e6a756;
} */

#mainNav .navbar-nav .nav-item .nav-link {
  /* color: rgba(255, 255, 255, 0.7); */
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #e6a756;
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
    width: auto
    height: 300px;
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #e6a756;
  }
}
.btn-group {
  padding-bottom: 10px;
  margin-bottom: 20px;
  float: left;
}


.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 75%;
    float: right;

  }
  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;

  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 10rem;
  background-color: rgb(245,207,213);

}

.cta .cta-inner {
  position: relative;
  padding: 3px;
  padding-top: 25px;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);

}

.cta .cta-inner:before {

  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);

}

/*
.list-hours {
  font-size: 0.9rem;
} */

/* .list-hours .list-hours-item {
  border-bottom: 1px solid rgba(230, 167, 86, 0.5);
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  font-style: italic;
} */

/* .list-hours .list-hours-item.today {
  font-weight: bold;
  color: #e6a756;
} */

/* @media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
} */


.address strong {
  font-size: 1.2rem;
}

.footer {
  background-color: rgb(245,207,213);
}
.thumb{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: #600;
  display: inline-block;
  list-style: none;
  margin: 10;
}
  .thumb.blue.col {
    background: rgb(45,23,204);
  }
  .thumb.green.col {
    background: rgb(1,175,8);
  }
  .thumb.brown.col {
    background: rgb(101,67,33);
  }
  .thumb.hazel.col {
    background: rgb(139,126,26);
  }
  .thumb.blonde.col {
    background: rgb(228,214,106);
  }
  .thumb.brown2.col {
    background: rgb(101,67,33);
  }
  .thumb.black.col {
    background: rgb(5,7,5);
  }
  .thumb.red.col {
    background: rgb(156,32,51);
  }
  .thumb.light.col {
    background: rgb(255,219,172);
  }
  .thumb.med.col {
    background: rgb(241,194,125);
  }
  .thumb.dark.col {
    background: rgb(224,172,105);
  }
  .thumb.darker.col {
    background: rgb(141,85,36);
  }


  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  /* For Webkit browsers */
  filter: gray;
  /* For IE 6 - 9 */
  -webkit-transition: all .5s ease;
  /* Transition for Webkit browsers */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}
.thumb:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  filter: none;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}
/* .thumb:nth-child(even){
  position: relative;
  top: 50px;
} */
.gallery{
  list-style: none;
  padding-left: 0;

}
